.frise {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin: -10px 30px 10px 30px;
}

.frise__col {
    text-align: center;
}

.frise__col--1 {
    grid-column: span 1 / span 1;
}

.frise__col--2 {
    grid-column: span 2 / span 2;
}

.frise__col--3 {
    grid-column: span 2 / span 2;
    display: grid;
    place-content: end;
}

.frise__box {
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}


.frise__date {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: bold;
    color: var(--détails);
    margin: 0;
}

.frise__name {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    color: var(--texte-color);
    margin: 0;
}



.frise__img {
    margin-left: 3px;
    margin-right: 3px;
    width: 100%;
    max-width: 100px;
    clip-path:ellipse(37% 50%);
}