


.carrousel_parent-ecrans {
  display: flex;
  overflow-x: hidden; 
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}



.carrousel_ecran{
  width:100%; 
    flex:none; 
    display: flex;
  scroll-snap-align: start; 
   justify-content: center;
  align-items: center;
  
}
.carrousel_ecran figure {
  margin: 0 20px 0 20px;
}

.carrousel {
  position: relative;
}

.carrousel_btn {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 2;
 
}

.carrousel_btn-avant {
  left: 0;
}

.carrousel_btn-apres {
  right: 0;
}











