.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--header);
    display: grid;
    align-items: center;
    justify-content: center;

  }

  .header__menuBtn{
    position: relative;
    z-index: 10;

  }
  .noscroll,
.noscroll body {
overflow: hidden;
}





